@font-face {
    font-family: 'Helvetica';
    font-display: swap;
    src: url('../fonts/helvetica-light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
